/* .telaInicial{
    background-color: rgb(180, 208, 233);
} */

.nome{
    text-align: center;
    color: rgb(31, 41, 76);
    font-size: 2em;
    font-family: ubuntu, sans-serif;
}

.desc{
    text-align: center;
    color: rgb(31, 41, 76);
    font-size: 1.2em;
    font-family: 'VT323', monospace;
    font-weight: bold;
}