body{
    background-color: #313030;
    color: #ffffff;
    background: radial-gradient(circle at top left, #213834, #313030);
}

#apresentacao{
    background-color: #313030;
    color: #ffffff;
    background: radial-gradient(circle at top right, #213834, #313030);
}

.social{
    display: inline-flex;
    align-items: center;
    margin: 1px;
}

section{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.pag{
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.cabecalho {
    justify-content: space-between;
    display: flex;
    flex-direction: row; 
    align-items: center;   
    margin: auto;
    gap: 40px; /*espaço entre o txt e foto*/
    margin-left: 10%;
    margin-right: 10%;
}

.cabecalhoText{
    flex: 1; /*faz o texto ocupar o espaço disponivel*/
    text-align: left; /*alinha o texto a esquerda */
    max-width: 42%;
}

.nome{
    text-align: left;
    font-size: 2.5em;
    font-family: ubuntu, sans-serif;
    margin-bottom: 6%;
    margin-top: 2px;
    color: rgb(56, 245, 159);
}

.redes{
    font-size: 0.9em;
    font-family: 'VT323', monospace;
    font-weight: bold;
    margin-bottom: 7%;
    }
    .titulo{
    font-size: 1.4em;
    font-family: 'VT323', monospace;
    font-weight: bold;
    text-align: left; 
    color: rgb(56, 245, 159); 
    font-weight: bold; 
    margin-bottom: 0;
    }
    .text{
    font-family: ubuntu, sans-serif;
    font-size: 1.3em;
    color: rgb(56, 245, 159);
    text-decoration: none;
    }

    .desc{
    font-size: 1.1em;
    font-family: 'VT323', monospace;
    font-weight: bold;
    }

.fotoPerfil{
    width: 350px;
    justify-content: right;
    display: block;
}

.cabecalhoFoto{
    flex-shrink: 0; /*impede a foto de diminuir*/
    position: sticky;
    align-self: flex-start;
}

.logo{
    width: 20px;
    height:20px;
    margin-left: 1px;
    margin-top: 0;
}

.imagemProj{
    width: 270px;
    height: 400px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 15px;
}

.rodape{
    margin-top: 2%;
    width: 60%;
}

.janela{
    width: 80%;
    overflow: hidden;
    overflow-x: auto;
    align-items: center;
    margin: auto;
    margin-top: 3%;
}

.trilho{
    max-width: 10000px;
    display: flex;
    gap: 20px;
    padding-top: 0;
    height: 480px   ;
    width: 1000px;
}

.cards{
    width: 270px;
    height: auto;
    margin: 15px;
    padding: auto;
    border: 2px solid,  rgb(56, 245, 159);
}

@media screen and (max-width: 768px) {
    .cabecalho{
        flex-direction: column-reverse;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        justify-content: center;
        position: static;
        display: flex;
    }
    .cabecalhoFoto{
        align-self: center;
        position: static;
    }
    .cabecalhoText{
        max-width: 100%;
    }
    .fotoPerfil{
        width: 80%;
        margin: 0px auto;
        display: block;
        justify-content: center;
    }
    .janela{
        width: 95%;
        height: 50%;
    }

    .cards{
        width: auto;
        height: 60%;
    }
    .imagemProj{
        width: 200px;
        height: 230px;
    }
    .social{
    display: block;
    align-items: center;
    margin: 2px;
    }
    .rodape{
    margin-top: 2%;
    width: 100%;
}
    .nome{
        text-align: left;
        font-size: 6.7vw;
        font-family: ubuntu, sans-serif;
        margin-bottom: 6%;
        margin-top: 2px;
        color: rgb(56, 245, 159);
    }
    .desc{
    font-size: 4vw;
    font-family: 'VT323', monospace;
    font-weight: bold;
    }
    .redes{
    font-size: 4vw;
    font-family: 'VT323', monospace;
    font-weight: bold;
    margin-bottom: 7%;
    }
    .titulo{
    font-size: 5.8vw;
    font-family: 'VT323', monospace;
    font-weight: bold;
    text-align: left; 
    color: rgb(56, 245, 159); 
    font-weight: bold; 
    margin-bottom: 0;
}
}